services:
  banco-a:
    build: .
    container_name: banco-a
    environment:
      - NODE_ID=A
      - DATA_DIR=/app/data
      - PEERS=http://banco-b:8080,http://banco-c:8080
      - BASE_URL=http://banco-a:8080
    ports:
      - "8081:8080"
    volumes:
      - ./data/bancoA:/app/data

  banco-b:
    build: .
    container_name: banco-b
    environment:
      - NODE_ID=B
      - DATA_DIR=/app/data
      - PEERS=http://banco-a:8080,http://banco-c:8080
      - BASE_URL=http://banco-b:8080
    ports:
      - "8082:8080"
    volumes:
      - ./data/bancoB:/app/data

  banco-c:
    build: .
    container_name: banco-c
    environment:
      - NODE_ID=C
      - DATA_DIR=/app/data
      - PEERS=http://banco-a:8080,http://banco-b:8080
      - BASE_URL=http://banco-c:8080
    ports:
      - "8083:8080"
    volumes:
      - ./data/bancoC:/app/data
